html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3e8e41;
    color: white;
    padding: 5px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
    background-color: #3e8e41;
}

nav ul li {
    text-align: center;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
    color: #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
}

/* Profile Section (1/4 of the page) */
.profile-container {
    width: 20%; /* 1/4 of the page */
    padding: 20px;
    position: fixed;
    left: 0;
    top: 60px; /* Adjust to avoid the header */
    height: calc(100vh - 60px); /* Adjust for header */
    background-color: black;
    color: white;
    border-right: 2px solid white;
    text-align: center;
}

.profile-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-bottom: 20px;
}

.profile-container h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profile-container .location {
    font-size: 1em;
    color: gray;
    margin-top: 10px;
}

.profile-container a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.profile-container a:hover {
    color: #f4f4f4;
}

/* Main Content Section (3/4 of the page) */
.main-content {
     position: absolute;
    top: 25vh; /* Moves content down to start at 25% of viewport height */
    left: 20%; /* Aligns with profile container */
    right: 0;
    padding: 40px;
    color: white;
    background-color: black;
    text-align: center;
    height: 75vh; /* Ensures content takes up bottom 75% */
    overflow-y: auto; /* Allows scrolling if content exceeds height */
}

/* Title and Subtitle Animations */
.dynamic-title {
    font-size: 3em;
    animation: rollIn 1.5s ease-out;
}

.dynamic-subtitle {
    font-size: 1.5em;
    animation: rollIn 2s ease-out;
}

/* Keyframe Animations */
@keyframes rollIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

 

